<nav class="navbar pb-0 fixed-top navbar-expand-lg navbar-dark bg-info text-light p-0 m-0 id=" menu">
    <div class="container-fluid mx-5">
        <img src="/static/resources/images/task.png" alt="" height="50px" class="d-inline-block align-text-top">
    
    <div class="col">
          
            <h4 class="d-inline my-auto">Welcome {{session['name']}}</h4>
        </div>
    
    <div class="col-2 ">
        
            <a class="text-light" href="/logout"> <b><u> Logout</u> </b></a>
    </div>
</div>   
</nav>
